.lang_selector {
    margin: 3px;
}

.lang_flag {
    color: #ffffff;
}

.lang_link {
    text-decoration: none;
}

.opacity_not_selected {
    opacity: 0.5;
}

.opacity_selected {
    opacity: 1;
}

.lang_selector .divider-vertical {
    border-right: 1px solid #ccc;
    margin-left: 7px;
    margin-right: 7px;
}